<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

    <filter>
        <filter-name>RequestInformationFilter</filter-name>
        <filter-class>com.interact.listen.RequestInformationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RequestInformationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>OutputBufferFilter</filter-name>
        <filter-class>com.interact.listen.OutputBufferFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>OutputBufferFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>ExceptionHandlerFilter</filter-name>
        <filter-class>com.interact.listen.ExceptionHandlerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ExceptionHandlerFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>ApiResourceLocatorFilter</filter-name>
        <filter-class>com.interact.listen.api.ApiResourceLocatorFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ApiResourceLocatorFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>ApiStatFilter</filter-name>
        <filter-class>com.interact.listen.api.stats.ApiStatFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ApiStatFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>ApiLicenseFilter</filter-name>
        <filter-class>com.interact.listen.api.license.ApiLicenseFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ApiLicenseFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>OpenSessionInViewFilter</filter-name>
        <filter-class>com.interact.listen.OpenSessionInViewFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>OpenSessionInViewFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping><!--
    <filter-mapping>
        <filter-name>OpenSessionInViewFilter</filter-name>
        <url-pattern>/ajax/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>OpenSessionInViewFilter</filter-name>
        <url-pattern>/index</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>OpenSessionInViewFilter</filter-name>
        <url-pattern>/login</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>OpenSessionInViewFilter</filter-name>
        <url-pattern>/logout</url-pattern>
    </filter-mapping>-->

    <!-- servlet definitions -->

    <servlet>
        <servlet-name>ApiServlet</servlet-name>
        <servlet-class>com.interact.listen.api.ApiServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>DropParticipantServlet</servlet-name>
        <servlet-class>com.interact.listen.gui.DropParticipantServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>GetConferenceInfoServlet</servlet-name>
        <servlet-class>com.interact.listen.gui.GetConferenceInfoServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>GetConferenceListServlet</servlet-name>
        <servlet-class>com.interact.listen.gui.GetConferenceListServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>GetDnisServlet</servlet-name>
        <servlet-class>com.interact.listen.api.GetDnisServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>GetPropertiesServlet</servlet-name>
        <servlet-class>com.interact.listen.gui.GetPropertiesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>com.interact.listen.gui.IndexServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.interact.listen.gui.LoginServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.interact.listen.gui.LogoutServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>MuteParticipantServlet</servlet-name>
        <servlet-class>com.interact.listen.gui.MuteParticipantServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>OutdialServlet</servlet-name>
        <servlet-class>com.interact.listen.gui.OutdialServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>ProvisionAccountServlet</servlet-name>
        <servlet-class>com.interact.listen.gui.ProvisionAccountServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>ScheduleConferenceServlet</servlet-name>
        <servlet-class>com.interact.listen.gui.ScheduleConferenceServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>SetPropertiesServlet</servlet-name>
        <servlet-class>com.interact.listen.gui.SetPropertiesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>UnmuteParticipantServlet</servlet-name>
        <servlet-class>com.interact.listen.gui.UnmuteParticipantServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- mappings -->

    <!-- api -->

    <servlet-mapping>
        <servlet-name>ApiServlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetDnisServlet</servlet-name>
        <url-pattern>/meta/getDnis</url-pattern>
    </servlet-mapping>

    <!-- ajax -->

    <servlet-mapping>
        <servlet-name>DropParticipantServlet</servlet-name>
        <url-pattern>/ajax/dropParticipant</url-pattern>    
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetConferenceInfoServlet</servlet-name>
        <url-pattern>/ajax/getConferenceInfo</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetConferenceListServlet</servlet-name>
        <url-pattern>/ajax/getConferenceList</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetPropertiesServlet</servlet-name>
        <url-pattern>/ajax/getProperties</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MuteParticipantServlet</servlet-name>
        <url-pattern>/ajax/muteParticipant</url-pattern>    
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>OutdialServlet</servlet-name>
        <url-pattern>/ajax/outdial</url-pattern>    
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProvisionAccountServlet</servlet-name>
        <url-pattern>/ajax/provisionAccount</url-pattern>    
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ScheduleConferenceServlet</servlet-name>
        <url-pattern>/ajax/scheduleConference</url-pattern>    
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SetPropertiesServlet</servlet-name>
        <url-pattern>/ajax/setProperties</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UnmuteParticipantServlet</servlet-name>
        <url-pattern>/ajax/unmuteParticipant</url-pattern>    
    </servlet-mapping>

    <!-- main pages -->
    
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <!-- welcome files -->

    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>

</web-app>