ol {
    margin: 0;
    padding: 0;
    width: 100%;
}

ol > li {
    border: 2px solid #e4f0fb;
    border-radius: 5px;
    display: block;
    margin-top: 10px;
    padding: 5px;
}

ol > li.new {
    background-color: #e4f0fb;
    border: 2px solid #054B7A;
}

ol > li.new div.transcription {
    background-color: #FFFFFF;
}

ol > li.new .from {
    font-weight: bold;
}

ol > li.fax {
    border-color: #90CC8B;
}

ol > li.fax.new {
    background-color: #CAF2C7;
    border-color: #74BA6E;
}

div.listHeader {
    margin-left: 7px; /* to offset li padding and borders */
}

div.from,
div.received,
div.duration,
div.status,
div.playLink,
div.play,
div.playerDiv {
    display: inline-block;

    *display: inline; /* IE7 */
    zoom: 1; /* IE7 */
}

div.transcription,
div.options {
    display: block;
}

div.from {
    font-size: 20px;
    width: 450px;
}

div.received { width: 200px; }
div.duration { width: 200px; }
div.playLink { width: 200px; }
div.playerDiv { width: 200px; }
div.status { width: 46px; }

div.transcription {
    border-radius: 5px;
    font-size: 13px;
    padding: 10px;
}

div.transcription,
div.options {
    margin-top: 5px;
}

div.options form,
div.options li {
    display: inline;
}

div.options .type-tags {
    float: right;
}

div.options .type-tags li {
    background-color: #FFFFFF;
    color: #999999;
    font-size: 12px;
    padding: 2px 5px;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.listTotal,
.pagination {
    height: 24px;
}
.templates {
    display: none;
}
