<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.interact.listen.android.voicemail"
      android:versionCode="5"
      android:versionName="1.2.2"
      android:installLocation="auto"
>
      
    <application android:icon="@drawable/icon" android:label="@string/app_name">

        <activity android:name=".ListVoicemailActivity" android:label="@string/app_name">
            <intent-filter>
				<action android:name="com.interact.listen.voicemail.LIST"/>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
				<category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

		<activity android:name=".ViewVoicemailActivity" android:configChanges="keyboardHidden|orientation">
			<intent-filter>
				<action android:name="com.interact.listen.voicemail.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>

		<activity android:name=".ApplicationSettings">
			<intent-filter>
				<action android:name="com.interact.listen.voicemail.SETTINGS"/>
				<category android:name="android.intent.category.PREFERENCE"/>
			</intent-filter>
		</activity>

        <activity android:name=".authenticator.AuthenticatorActivity"
            	  android:label="@string/ui_authenticate_title"
            	  android:theme="@android:style/Theme.Dialog"
                  android:excludeFromRecents="true">
			<intent-filter>
				<action android:name="com.interact.list.voicemail.AUTHORIZE_SETTINGS"/>
			</intent-filter>
        </activity>

        <receiver android:name=".VoicemailNotifyReceiver">
            <intent-filter>
                <action android:name="com.interact.listen.voicemail.NEW_VOICEMAILS"/>
    			<action android:name="com.interact.listen.voicemail.NOTIFY_ERROR"/>
            </intent-filter>
        </receiver>
<!--        
        <receiver android:name=".OutgoingCallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" android:priority="100"/>
            </intent-filter>
        </receiver>
-->        
        <service android:name=".MarkVoicemailsService">
            <intent-filter>
                <action android:name="com.interact.listen.voicemail.MARK_NOTIFIED"/>
    			<action android:name="com.interact.listen.voicemail.MARK_READ"/>
            </intent-filter>
        </service>

        <service android:name=".authenticator.AuthenticationService" android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator" />
        </service>

        <service android:name=".sync.SyncService" android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/syncadapter" />
        </service>

		<provider android:name=".provider.VoicemailProvider"
				  android:authorities="com.interact.listen.voicemail"
				  android:enabled="true"/>

    </application>
    
	<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
	<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
    
    <uses-sdk android:minSdkVersion="8"/>

</manifest> 