html, body {
    font-family: Helvetica, Verdana, Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
}

a, a:visited {
    color: #1162AE;
}

a:hover {
    color: #000000;
}