/* clearfix solution, used to make containers of floating divs use the height of their child elements */
.cleaner {
    clear: both;
    font-size: 1px;
}

/* top-level elements */

body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    background-color: #FFFFFF;
}

a {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    border-width: 0;
    width: 100%;
}

table th {
    font-weight: bold;
}

table td, table th {
    padding: 3px;
}

/* layout */

#header {
    clear: both;
    float: left;
    height: 26px;
    margin-bottom: 15px;
    margin-top: 5px;
    width: 100%;
}

#header .logo {
    float: left;
    height: 100%;
    margin-left: 10px;
    text-align: left;
}

#header .info {
    float: right;
    height: 100%;
    margin-right: 10px;
    text-align: right;
}

.column-mask {
    position: relative;
    clear: both;
    float: left;
    width: 100%;
    overflow: hidden;
}

.two-column {
    float: left;
    width: 200%;
    position: relative;
    left: 12em;
}

.content-column-wrapper {
    float: right;
    width: 50%;
    position: relative;
    right: 12em;
}

.content-column {
    margin: 0 0 0 12em;
    position: relative;
    right: 100%;
    overflow: hidden;
}

.menu-column {
    float: left;
    width: 12em;
    position: relative;
    right: 12em;
}

#footer {
    clear: both;
    color: #AAAAAA;
    float: left;
    font-size: 85%;
    margin-top: 15px;
    text-align: center;
    width: 100%;
}

#footer a {
    color: #AAAAAA;
    text-decoration: underline;
}

#footer a:hover, #footer a:active {
    color: #666666;
}

/* menus */

.menu {
    margin: 1em;
}

.menu ul li {
    border: 1px solid #8A8988;
    background-color: #FFFFFF;
    color: #666666;
    cursor: pointer;
    display: block;
    font-weight: bold;
    margin-bottom: .25em;
    padding: .25em;
}

.menu ul li:hover, .menu ul li.current, .menu ul li.current:hover {
    background-color: #8A8988;
    color: #FFFFFF;
    cursor: default;
}

.menu ul li:hover {
    cursor: pointer;
}

/* application area */

.application {
    border: 2px solid #AAAAAA;
    border-radius: 4px;
    display: none;
    margin: 0;
    -moz-border-radius: 4px;
    padding: 0;
    -webkit-border-radius: 4px;
    width: 99%;
}

.application-header {
    background: #8A8988 url('../images/new/header_gradient_gray_30x10.png') repeat-x bottom left;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: #FFFFFF;
    font-weight: bold;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    overflow: auto;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
}

.application-header .title {
    float: left;
    padding: 6px;
}

.application-content .left {
    float: left;
}

.application-content .right {
    float: right;
}

.application-content .left {
    width: 55%;
}

.application-content .right {
    width: 45%;
}

.panel {
    border: 1px solid #AAAAAA;
    clear: both;
    float: left;
    margin-top: 4px;
    width: 98%;
}

.panel-header {
    background-color: #DDDDDD;
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 0 0 1px 0;
    color: #666666; 
    font-weight: bold;
    height: 1.5em;
    padding: 2px;
}

.panel-title {
    margin-left: 2px;
}

.panel table {
    width: 100%;
}

.left .panel {
    margin-left: 3px;
}

/* application - conferencing */

#conferencing-application {
    border-color: #84B4E2;
}

#conferencing-application .application-header {
    background: #379EDC url('../images/new/header_gradient_lightblue_30x10.png') repeat-x bottom left;
}

#conferencing-application .conference-content {
    display: none;
}

#conferencing-application .conference-notloaded {
    display: block;
    margin: 1em;
}

#menu-conferencing {
    border-color: #379EDC;
    color: #666666;
}

#menu-conferencing.current, #menu-conferencing:hover {
    background-color: #379EDC;
    color: #FFFFFF;
}

#conference-caller-table td {
    background-color: #E8EEF4;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 0 0 1px 0;
    height: 2em;
    font-weight: bold;
}

td.caller-cell-dropIcon, td.caller-cell-muteIcon, td.pin-cell-removeIcon {
    width: 26px;
}

#conference-pin-table button {
    display: none;
}

#record-button-div {
    display: none;
}

.control-panel-button {
    float: left;
    margin: 3px 0 3px 3px;
}

#outdial-show {
    display: none;
}

.conference-info-value {
    font-weight: bold;
    text-align: right;
}

.conference-not-started {
    color: #CC0000;
}

.conference-started {
    color: #00CC00;
}

/* application - voicemail */

#voicemail-application {
    border-color: #FFE472;
}

#voicemail-application .application-header {
    background: #E8BB2B url('../images/new/header_gradient_orange_30x10.png') repeat-x bottom left;
}

#menu-voicemail {
    border-color: #E8BB2B;
    color: #666666;
}

#menu-voicemail.current, #menu-voicemail:hover {
    background-color: #E8BB2B;
    color: #FFFFFF;
}

#voicemail-table td {
    border-color: #FFE472;
    border-style: solid;
    border-width: 0 0 1px 0;
    height: 2em;
}

tr.voicemail-unread {
    background-color: #FFFFFF;
    color: #000000;
    font-weight: bold;
}

tr.voicemail-read {
    background-color: #FFFFBB;
    color: #AAAAAA;
    font-weight: normal;
}

td.voicemail-cell-readStatus {
    width: 26px;
}

/* application - findme */

#findme-application {
    border-color: #DD0000;
}

#findme-application .application-header {
    background: #D73B3B url('../images/new/header_gradient_red_30x10.png') repeat-x bottom left;
}

#menu-findme {
    border-color: #D73B3B;
    color: #666666;
}

#menu-findme.current, #menu-findme:hover {
    background-color: #D73B3B;
    color: #FFFFFF;
}

/* application - subscribers */

#subscribers-application fieldset {
    border-width: 0;
}

#subscriber-form-edit-button, #subscriber-form-cancel-button, #subscriber-form-emailInputRow, #subscriber-form-smsInputRow, #profile-form-emailInputRow, #profile-form-smsInputRow {
    display: none;
}

#subscriber-form textarea {
    width: 100%;
}

/* application - system configuration */

.dnis-mapping-custom-destination {
    display: none;
}

/* application - history */

#history-list li {
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 0 0 1px 0;
    height: 3em;
    margin-top: 1px;
}

#history-list li div {
    float: left;
    height: 100%;
    margin-left: 2px;
    overflow: hidden;
    padding-top: 2px;
}

#history-list li.history-row-conferencing {
    background-color: #E7F0FF;
    border-color: #84B4E2;
}

#history-list li.history-row-findme {
    background-color: #FFEBEB;
    border-color: #DD0000;
}

#history-list li.history-row-unknown {
    background-color: #EEEEEE;
    border-color: #CCCCCC;
}

#history-list li.history-row-voicemail {
    background-color: #FCF8D2;
    border-color: #FFE472;
}

.history-call-date, .history-action-date {
    width: 15%;
}

.history-call-type, .history-action-type {
    width: 3%;
}

.history-call-subscriber, .history-action-subscriber {
    width: 13%;
}

.history-call-description, .history-action-description {
    width: 67%;
}

/* application - profile */

#profile-application fieldset {
    border-width: 0;
}

/* buttons */

.button-add,
.button-cancel,
.button-delete,
.button-edit,
.button-mute,
.button-outdial,
.button-pageleft,
.button-pageright,
.button-read,
.button-record,
.button-save,
.button-schedule,
.button-stop,
.button-unmute,
.button-unread,
.button-view {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    background-color: #FEFEFE;
    background-image: url('../images/sprite.png');
    background-repeat: no-repeat;
    color: #333333;
    cursor: pointer;
    font-weight: bold;
    height: 24px;
    margin: 0;
    -moz-border-radius: 4px;
    padding-left: 24px;
    padding-right: 2px;
    -webkit-border-radius: 4px;
}

.icon-add,
.icon-cancel,
.icon-delete,
.icon-edit,
.icon-mute,
.icon-outdial,
.icon-pageleft,
.icon-pageright,
.icon-read,
.icon-record,
.icon-save,
.icon-schedule,
.icon-stop,
.icon-unmute,
.icon-unmute-disabled,
.icon-unread,
.icon-view {
    background-color: #FEFEFE;
    background-image: url('../images/sprite.png');
    background-repeat: no-repeat;
    border-width: 0;
    cursor: pointer;
    height: 18px;
    margin: 0;
    padding: 0;
    width: 18px;
}

.image-edit,
.image-outdial {
    background-image: url('../images/sprite.png');
    background-repeat: no-repeat;
    border-width: 0;
    height: 18px;
    margin: 0;
    padding: 0;
    width: 18px;
}

.button-add:hover,
.button-cancel:hover,
.button-delete:hover,
.button-edit:hover,
.button-mute:hover,
.button-outdial:hover,
.button-pageleft:hover,
.button-pageright:hover,
.button-read:hover,
.button-record:hover,
.button-save:hover,
.button-schedule:hover,
.button-stop:hover,
.button-unmute:hover,
.button-unread:hover,
.button-view:hover {
    background-color: #DDDDDD;
}

.button-add                   { background-position: 2px -148px; }
.button-add:hover             { background-position: 2px -198px; }
.icon-add                     { background-position: 0   -150px; }
.icon-add:hover               { background-position: 0   -200px; }

.button-cancel                { background-position: 2px -548px; }
.button-cancel:hover          { background-position: 2px -598px; }
.icon-cancel                  { background-position: 0   -550px; }
.icon-cancel:hover            { background-position: 0   -600px; }

.button-delete                { background-position: 2px -948px; }
.button-delete:hover          { background-position: 2px -998px; }
.icon-delete                  { background-position: 0   -950px; }
.icon-delete:hover            { background-position: 0   -1000px; }

.button-edit                  { background-position: 2px -1448px; }
.button-edit:hover            { background-position: 2px -1498px; }
.icon-edit, .image-edit       { background-position: 0   -1450px; }
.icon-edit:hover              { background-position: 0   -1500px; }

.button-mute                  { background-position: 2px -748px; }
.button-mute:hover            { background-position: 2px -798px; }
.icon-mute                    { background-position: 0   -750px; }
.icon-mute:hover              { background-position: 0   -800px; }

.button-outdial               { background-position: 2px -1048px; }
.button-outdial:hover         { background-position: 2px -1098px; }
.icon-outdial, .image-outdial { background-position: 0   -1050px; }
.icon-outdial:hover           { background-position: 0   -1100px; }

.button-pageleft              { background-position: 2px -1648px; }
.button-pageleft:hover        { background-position: 2px -1698px; }
.icon-pageleft                { background-position: 0   -1650px; }
.icon-pageleft:hover          { background-position: 0   -1700px; }

.button-pageright             { background-position: 2px -1548px; }
.button-pageright:hover       { background-position: 2px -1598px; }
.icon-pageright               { background-position: 0   -1550px; }
.icon-pageright:hover         { background-position: 0   -1600px; }

.button-read                  { background-position: 2px -1348px; }
.button-read:hover            { background-position: 2px -1398px; }
.icon-read                    { background-position: 0   -1350px; }
.icon-read:hover              { background-position: 0   -1400px; }

.button-record                { background-position: 2px -248px; }
.button-record:hover          { background-position: 2px -298px; }
.icon-record                  { background-position: 0   -250px; }
.icon-record:hover            { background-position: 0   -300px; }

.button-save                  { background-position: 2px -48px; }
.button-save:hover            { background-position: 2px -98px; }
.icon-save                    { background-position: 0   -50px; }
.icon-save:hover              { background-position: 0   -100px; }

.button-schedule              { background-position: 2px -848px; }
.button-schedule:hover        { background-position: 2px -898px; }
.icon-schedule                { background-position: 0   -850px; }
.icon-schedule:hover          { background-position: 0   -900px; }

.button-stop                  { background-position: 2px -348px; }
.button-stop:hover            { background-position: 2px -398px; }
.icon-stop                    { background-position: 0   -350px; }
.icon-stop:hover              { background-position: 0   -400px; }

.button-unmute                { background-position: 2px -648px; }
.button-unmute:hover          { background-position: 2px -698px; }
.icon-unmute, .icon-unmute-disabled { background-position: 0 -650px; }
.icon-unmute:hover            { background-position: 0   -700px; }

.button-unread                { background-position: 2px -1248px; }
.button-unread:hover          { background-position: 2px -1298px; }
.icon-unread                  { background-position: 0   -1250px; }
.icon-unread:hover            { background-position: 0   -1300px; }

.button-view                  { background-position: 2px -1148px; }
.button-view:hover            { background-position: 2px -1198px; }
.icon-view                    { background-position: 0   -1150px; }
.icon-view:hover              { background-position: 0   -1200px; }

/* dialogs, forms, tables */

.inline-dialog {
    background-color: #FFFFFF;
    border: 1px solid #1C55A7;
    display: none;
    padding: 5px;
    position: absolute;
}

.inline-dialog div {
    padding: 3px 0;
}

.ui-widget-overlay {
    background: #5d5d5d;
    opacity: .5;
}

#scheduleConferenceDialog {
    margin: 2em;
}

#scheduleConferenceDialog table {
    width: 100%;
}

#scheduleConferenceDialog table caption {
    font-style: italic;
}

#scheduleConferenceDialog table th {
    width: 33%;
}

#scheduleConferenceDialog table td, #schedulConferenceDialog table th {
    padding: 10px 3px;
    text-align: left;
}

#scheduleConferenceDialog table td.buttons {
    text-align: center;
}

#scheduleConferenceDialog textarea {
    height: 4em;
    width: 100%;
}

.form-error-message, .form-success-message {
    color: #FFFFFF;
    display: none;
    text-align: center;
    width: 100%;
}

.form-error-message {
    background-color: #CC0000;
}

.form-success-message {
    background-color: #00CC00;
}

#scheduleConferenceDate {
    width: 10em;
}

fieldset {
    border: 1px solid #DDDDDD;
    display: inline-block;
    padding: 6px;
    margin: 3px;
}

fieldset legend {
    color: #444444;
    font-size: 125%;
    font-weight: bold;
    margin-bottom: 6px;
    margin-left: 10px;
    padding: 0 6px;
}

fieldset table, fieldset table td {
    border-width: 0;
}

fieldset table td {
    padding: 2px;
    text-align: left;
}

fieldset table td.buttons {
    background-color: #EEEEEE;
    text-align: center;
}

fieldset table .buttons button {
    margin-right: 6px;
}

table.data-table {
    border: 1px solid #CCCCCC;
}

table.data-table td, table.data-table th {
    border: 1px solid #CCCCCC;
}

table.data-table tr.odd {
    background-color: #EEEEEE;
}

.pagination {
    color: #666666;
    float: right;
    margin: 4px;
}

.pagination span {
    font-weight: bold;
    padding: 2px 4px;
}

/* other */

#templates {
    display: none;
}

#notification {
    background-color: #66FF66;
    border-color: #33CC33;
    border-style: solid;
    border-width: 2px 0;
    display: none;
    height: 1.5em;
    padding-top: .25em;
    margin-top: 6px;
    text-align: center;
    width: 99%;
}

#communication-error {
    background-color: #FFFFFF;
    border: 2px solid #CC0000;
    color: #CC0000;
    display: none;
    padding: 10px;
}