/* clearfix solution, used to make containers of floating divs use the height of their child elements */
.cleaner {
    clear: both;
    font-size: 1px;
}

/* top-level elements */

body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    background-color: #FFFFFF;
}

a {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    border-width: 0;
    width: 100%;
}

#conferencing-bridge-numbers {
	width: auto;
}

table th {
    font-weight: bold;
}

table td, table th {
    padding: 3px;
}

/* layout */

#header {
    clear: both;
    float: left;
    height: 26px;
    margin-bottom: 15px;
    margin-top: 5px;
    width: 100%;
}

#header .logo {
    float: left;
    height: 100%;
    margin-left: 10px;
    text-align: left;
}

#header .info {
    float: right;
    height: 100%;
    margin-right: 10px;
    text-align: right;
}

.column-mask {
    position: relative;
    clear: both;
    float: left;
    width: 100%;
    overflow: hidden;
}

.two-column {
    float: left;
    width: 200%;
    position: relative;
    left: 12em;
}

.content-column-wrapper {
    float: right;
    width: 50%;
    position: relative;
    right: 12em;
}

.content-column {
    margin: 0 0 0 12em;
    position: relative;
    right: 100%;
    overflow: hidden;
}

.menu-column {
    float: left;
    width: 12em;
    position: relative;
    right: 12em;
}

#footer {
    clear: both;
    color: #AAAAAA;
    float: left;
    font-size: 85%;
    margin-top: 15px;
    text-align: center;
    width: 100%;
}

#footer a {
    color: #AAAAAA;
    text-decoration: underline;
}

#footer a:hover, #footer a:active {
    color: #666666;
}

/* menus */

.menu {
    margin: 1em;
}

.menu ul li {
    border: 1px solid #8A8988;
    background-color: #FFFFFF;
    color: #666666;
    cursor: pointer;
    display: block;
    font-weight: bold;
    margin-bottom: .25em;
    padding: .25em;
}

.menu ul li:hover, .menu ul li.current, .menu ul li.current:hover {
    background-color: #8A8988;
    color: #FFFFFF;
    cursor: default;
}

.menu ul li:hover {
    cursor: pointer;
}

/* application area */

.application {
    border: 2px solid #AAAAAA;
    border-radius: 4px;
    display: none;
    margin: 0;
    -moz-border-radius: 4px;
    padding: 0;
    -webkit-border-radius: 4px;
    width: 99%;
}

.application-header {
    background: #8A8988 url('../images/new/header_gradient_gray_30x10.png') repeat-x bottom left;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: #FFFFFF;
    font-weight: bold;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    overflow: auto;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
}

.application-header .title {
    float: left;
    padding: 6px;
}

.application-content .left {
    float: left;
}

.application-content .right {
    float: right;
}

.application-content .left {
    width: 55%;
}

.application-content .right {
    width: 45%;
}

.panel {
    border: 1px solid #AAAAAA;
    clear: both;
    float: left;
    margin-top: 4px;
    width: 98%;
}

.panel-header {
    background-color: #DDDDDD;
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 0 0 1px 0;
    color: #666666; 
    font-weight: bold;
    height: 1.5em;
    padding: 2px;
}

.panel-title {
    margin-left: 2px;
}

.panel table {
    width: 100%;
}

.left .panel {
    margin-left: 3px;
}

/* tabs */

.tab-container {
    width: 100%;
}

.tab-container .tabs {
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 0 0 1px 0;
    height: 2em;
    clear: both;
    width: 100%;
}

.tab-container .tabs ul li {
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-color: #AAAAAA;
    cursor: pointer;
    display: block;
    float: left;
    padding: .25em 1em;
    margin: 2px 0 0 10px;
}

.tab-container .tabs ul li:hover, .tab-container .tabs ul li.current {
    background-color: #AAAAAA;
    color: #FFFFFF;
}

.tab-container .tab-content {
    display: none;
}

/* application - conferencing */

#conferencing-application {
    border-color: #84B4E2;
}

#conferencing-application .application-header {
    background: #379EDC url('../images/new/header_gradient_lightblue_30x10.png') repeat-x bottom left;
}

#conferencing-application .conference-content {
    display: none;
}

#conferencing-application .conference-notloaded {
    display: block;
    margin: 1em;
}

#menu-conferencing {
    border-color: #379EDC;
    color: #666666;
}

#menu-conferencing.current, #menu-conferencing:hover {
    background-color: #379EDC;
    color: #FFFFFF;
}

#conference-caller-table td {
    background-color: #E8EEF4;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 0 0 1px 0;
    height: 2em;
}

td.caller-cell-dropIcon, td.caller-cell-muteIcon, td.pin-cell-removeIcon {
    width: 26px;
}

#conference-pin-table button {
    display: none;
}

#record-button-div {
    display: none;
}

.control-panel-button {
    float: left;
    margin: 3px 0 3px 3px;
}

#outdial-show {
    display: none;
}

.conference-info-value {
    font-weight: bold;
    text-align: right;
}

.conference-not-started {
    color: #CC0000;
}

.conference-started {
    color: #00CC00;
}

.caller-row-admin {
    color: #00CC00;
    font-weight: bold;
}

.caller-row-active {
    color: #000000;
    font-weight: bold;
}

.caller-row-passive {
    color: #666666;
    font-weight: bold;
}

#conferencing-application .tab-container .tabs {
    background-color: #FFFFFF;
    border-color: #84B4E2;
}

#conferencing-application .tab-container .tabs ul li {
    border-color: #84B4E2;
}

#conferencing-application .tab-container .tabs ul li:hover, #conferencing-application .tab-container .tabs ul li.current {
    background-color: #84B4E2;
    color: #FFFFFF;
}
/*
#scheduled-conference-table .past {
    color: #CCCCCC;
}

#scheduled-conference-table .future {
    font-weight: bold;
}
*/
#scheduled-conference-table li,
#historic-scheduled-conference-table li {
    border-color: #E8EEF4;
    border-style: solid;
    border-width: 0 0 1px 0;
    padding: 3px 0 0 3px;
}

#scheduled-conference-table div.scheduled-conference-cell-when,
#scheduled-conference-table div.scheduled-conference-cell-topic,
#scheduled-conference-table div.scheduled-conference-cell-callers,
#scheduled-conference-table div.scheduled-conference-cell-view,
#historic-scheduled-conference-table div.scheduled-conference-cell-when,
#historic-scheduled-conference-table div.scheduled-conference-cell-topic,
#historic-scheduled-conference-table div.scheduled-conference-cell-callers,
#historic-scheduled-conference-table div.scheduled-conference-cell-view {
    float: left;
    height: 2em;
}
#scheduled-conference-table div.scheduled-conference-cell-when,
#scheduled-conference-table div.scheduled-conference-cell-topic,
#scheduled-conference-table div.scheduled-conference-cell-callers,
#historic-scheduled-conference-table div.scheduled-conference-cell-when,
#historic-scheduled-conference-table div.scheduled-conference-cell-topic,
#historic-scheduled-conference-table div.scheduled-conference-cell-callers {
    width: 30%
}
#scheduled-conference-table div.scheduled-conference-cell-view,
#historic-scheduled-conference-table div.scheduled-conference-cell-view {
    clear: right;
    width: 10%;
}
#scheduled-conference-table div.scheduled-conference-cell-notes,
#scheduled-conference-table div.scheduled-conference-cell-activeCallers,
#scheduled-conference-table div.scheduled-conference-cell-passiveCallers,
#historic-scheduled-conference-table div.scheduled-conference-cell-notes,
#historic-scheduled-conference-table div.scheduled-conference-cell-activeCallers,
#historic-scheduled-conference-table div.scheduled-conference-cell-passiveCallers {
    display: none;
    float: left;
    font-weight: normal;
    height: 2em;
    padding-left: 2.5em;
    width: 90%;
}

/* application - voicemail */

#voicemail-application {
    border-color: #FFE472;
}

#voicemail-application .application-header {
    background: #E8BB2B url('../images/new/header_gradient_orange_30x10.png') repeat-x bottom left;
}

#menu-voicemail {
    border-color: #E8BB2B;
    color: #666666;
}

#menu-voicemail.current, #menu-voicemail:hover {
    background-color: #E8BB2B;
    color: #FFFFFF;
}

#voicemail-application #voicemail-header li {
    background-color: #DDDDDD;
    color: #666666;
    height: 1.5em;
}

#voicemail-application #voicemail-header li a {
    color: #666666;
    font-weight: bold;
    text-decoration: none;
}

#voicemail-application #voicemail-header li a:hover {
    color: #999999;
}

#voicemail-application #voicemail-header div.voicemail-cell-actions {
    text-align: right;
}

#voicemail-application li {
    border-color: #FFE472;
    border-style: solid;
    border-width: 0 0 1px 0;
    padding: 3px 0 0 3px;
}

#voicemail-application li div div {
    float: left;
    margin-right: 1em;
}
#voicemail-application div.voicemail-cell-from,
#voicemail-application div.voicemail-cell-received,
#voicemail-application div.voicemail-cell-actions {
    float: left;
    height: 2em;
    width: 25%;
}
#voicemail-application div.voicemail-cell-play {
	float: left;
    width: 25%;
}
#voicemail-application div.voicemail-cell-actions {
    clear: right;
}
#voicemail-application div.voicemail-cell-actions div {
    float: right;
}
#voicemail-application div.voicemail-cell-transcription {
    display: none;
    float: left;
    font-weight: normal;
    font-style: italic;
    padding-left: 2.5em;
    width: 90%;
}
#voicemail-application div.voicemail-cell-transcription-abbr,
#voicemail-application div.voicemail-cell-transcription-full {
    display: none;
}
#voicemail-application li.voicemail-unread {
    background-color: #FFFFFF;
    color: #000000;
    font-weight: bold;
}
#voicemail-application li.voicemail-read {
    background-color: #FFFFBB;
    color: #AAAAAA;
    font-weight: normal;
}
#voicemail-application li.voicemail-read,
#voicemail-application li.voicemail-unread,
#voicemail-application li.placeholder {
    clear: left;
}


/* application - attendant */

#attendant-application {
    border-color: #C5A8F0;
}

#attendant-application .application-header {
    background: #7A35DD url('../images/new/header_gradient_purple_30x10.png') repeat-x bottom left;
}

#attendant-application .tab-container .tabs {
    background-color: #FFFFFF;
    border-color: #DBCCF1;
}

#attendant-application .tab-container .tabs ul li {
    border-color: #DBCCF1;
}

#attendant-application .tab-container .tabs ul li:hover,
#attendant-application .tab-container .tabs ul li.current {
    background-color: #DBCCF1;
    color: #FFFFFF;
}

#menu-attendant {
    border-color: #7A35DD;
    color: #666666;
}

#menu-attendant.current, #menu-attendant:hover {
    background-color: #7A35DD ;
    color: #FFFFFF;
}

#attendant-menu-name {
    margin: 10px 10px 0 10px;
}

#attendant-menu-information {
    margin: 10px 10px 0 10px;
    width: 20em;
}

#attendant-menu-information-input {
    background-color: #DBCCF1;
    border: 1px solid #7A35DD;
    padding: 5px;
}

#attendant-menu-audio-file-transcription {
    background-color: #E7E1F1;
    border: 1px solid #DBCCF1;
    display: none; /* TODO remove when transcriptions available */
    margin-top: 5px;
    padding: 5px;
}

#attendant-menu-actions {
    margin: 10px;
}

#attendant-menu-list-container {
    border-color: #DBCCF1;
    border-style: dashed;
    border-width: 0 1px 1px 0;
    width: 200px;
}

#attendant-menu-list-container,
#attendant-menu-builder-container,
#attendant-menu-builder-container-placeholder {
    float: left;
}

#attendant-menu-builder-container {
    display: none;
}

table#attendant-menu-list {
    border-collapse: separate;
    border-spacing: 0px 5px;
}

table#attendant-menu-list tbody tr {
    background-color: #E7E1F1;
}

table#attendant-menu-list tbody tr.selected {
    background-color: #DBCCF1;
}

table#attendant-menu-list tbody tr.selected td {
    border-color: #7A35DD;
    border-style: solid;
    border-width: 1px 0;
}

#attendant-menu-name {
    font-size: 125%;
    font-weight: bold;
}

#attendant-menu-information div {
    margin-left: auto;
    margin-right: auto;
    width: 99%;
}

#attendant-menu-information-caption,
#attendant-menu-actions-caption {
    color: #666666;
    font-size: 85%;
    margin-bottom: 5px;
}
/*
#attendant-application .application-content label,
#attendant-application input,
#attendant-application select {
    font-size: 115%;
}*/

#attendant-application input {
    font-weight: bold;
}

.attendant-menu-action {
    background-color: #DBCCF1;
    border: 1px solid #7A35DD;
    height: 3em;
    margin-bottom: 5px;
}

.attendant-menu-action div {
    float: left;
    height: 3em;
    line-height: 3em;
    margin-left: 5px;
}

.attendant-menu-action div input,
.attendant-menu-action div select {
    margin-top: 10px;
}

.attendant-menu-number-input {
    width: 5em;
}

.attendant-menu-action-launchApplicationCustomInput input {
    margin-right: 10px;
    width: 7em;
}

.attendant-menu-button-container {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: right;
}

.attendant-menu-action-delete button {
    margin-top: 10px;
}

.attendant-menu-action-delete,
.attendant-menu-action-keypressLabel,
.attendant-menu-action-defaultLabel,
.attendant-menu-action-timeoutLabel,
.attendant-menu-action-keypressInput,
.attendant-menu-action-actionSelect,
.attendant-menu-action-menuSelect,
.attendant-menu-action-dialNumberInput,
.attendant-menu-action-launchApplicationSelect,
.attendant-menu-action-launchApplicationCustomInput {
    display: none;
}

/* application - findme */

#findme-application {
    border-color: #DD0000;
}

#findme-application .application-header {
    background: #D73B3B url('../images/new/header_gradient_red_30x10.png') repeat-x bottom left;
}

#menu-findme {
    border-color: #D73B3B;
    color: #666666;
}

#menu-findme.current, #menu-findme:hover {
    background-color: #D73B3B;
    color: #FFFFFF;
}

/* application - subscribers */

#subscribers-application fieldset {
    border-width: 0;
}

#subscriber-form-edit-button, #subscriber-form-cancel-button, #subscriber-form-emailInputRow, #subscriber-form-smsInputRow, #profile-form-emailInputRow, #profile-form-smsInputRow {
    display: none;
}

#subscriber-form textarea {
    width: 100%;
}

/* application - system configuration */

.dnis-mapping-custom-destination {
    display: none;
}

#alerts-configuration-realizeUrl, #alerts-configuration-realizeAlertName {
    width: 50em;
}

/* application - history */

#history-list li {
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 0 0 1px 0;
    height: 3em;
    margin-top: 1px;
}

#history-list li div {
    float: left;
    height: 100%;
    margin-left: 2px;
    overflow: hidden;
    padding-top: 2px;
}

#history-list li.history-row-conferencing {
    background-color: #E7F0FF;
    border-color: #84B4E2;
}

#history-list li.history-row-findme {
    background-color: #FFEBEB;
    border-color: #DD0000;
}

#history-list li.history-row-unknown {
    background-color: #EEEEEE;
    border-color: #CCCCCC;
}

#history-list li.history-row-voicemail {
    background-color: #FCF8D2;
    border-color: #FFE472;
}

.history-call-date, .history-action-date {
    width: 15%;
}

.history-call-type, .history-action-type {
    width: 3%;
}

.history-call-subscriber, .history-action-subscriber {
    width: 13%;
}

.history-call-description, .history-action-description {
    width: 67%;
}


/* buttons */

.button-add,
.button-cancel,
.button-delete,
.button-edit,
.button-mute,
.button-outdial,
.button-pageleft,
.button-pageright,
.button-read,
.button-record,
.button-save,
.button-schedule,
.button-stop,
.button-unmute,
.button-unread,
.button-view {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    background-color: #FEFEFE;
    background-image: url('../images/sprite.png');
    background-repeat: no-repeat;
    color: #333333;
    cursor: pointer;
    font-weight: bold;
    height: 24px;
    margin: 0;
    -moz-border-radius: 4px;
    padding-left: 24px;
    padding-right: 2px;
    -webkit-border-radius: 4px;
}

.icon-add,
.icon-cancel,
.icon-delete,
.icon-edit,
.icon-mute,
.icon-outdial,
.icon-pageleft,
.icon-pageright,
.icon-read,
.icon-record,
.icon-save,
.icon-schedule,
.icon-stop,
.icon-unmute,
.icon-unmute-disabled,
.icon-unread,
.icon-view {
    background-color: #FEFEFE;
    background-image: url('../images/sprite.png');
    background-repeat: no-repeat;
    border-width: 0;
    cursor: pointer;
    height: 18px;
    margin: 0;
    padding: 0;
    width: 18px;
}

.image-edit,
.image-outdial {
    background-image: url('../images/sprite.png');
    background-repeat: no-repeat;
    border-width: 0;
    height: 18px;
    margin: 0;
    padding: 0;
    width: 18px;
}

.button-add:hover,
.button-cancel:hover,
.button-delete:hover,
.button-edit:hover,
.button-mute:hover,
.button-outdial:hover,
.button-pageleft:hover,
.button-pageright:hover,
.button-read:hover,
.button-record:hover,
.button-save:hover,
.button-schedule:hover,
.button-stop:hover,
.button-unmute:hover,
.button-unread:hover,
.button-view:hover {
    background-color: #DDDDDD;
}

.button-add                   { background-position: 2px -148px; }
.button-add:hover             { background-position: 2px -198px; }
.icon-add                     { background-position: 0   -150px; }
.icon-add:hover               { background-position: 0   -200px; }

.button-cancel                { background-position: 2px -548px; }
.button-cancel:hover          { background-position: 2px -598px; }
.icon-cancel                  { background-position: 0   -550px; }
.icon-cancel:hover            { background-position: 0   -600px; }

.button-delete                { background-position: 2px -948px; }
.button-delete:hover          { background-position: 2px -998px; }
.icon-delete                  { background-position: 0   -950px; }
.icon-delete:hover            { background-position: 0   -1000px; }

.button-edit                  { background-position: 2px -1448px; }
.button-edit:hover            { background-position: 2px -1498px; }
.icon-edit, .image-edit       { background-position: 0   -1450px; }
.icon-edit:hover              { background-position: 0   -1500px; }

.button-mute                  { background-position: 2px -748px; }
.button-mute:hover            { background-position: 2px -798px; }
.icon-mute                    { background-position: 0   -750px; }
.icon-mute:hover              { background-position: 0   -800px; }

.button-outdial               { background-position: 2px -1048px; }
.button-outdial:hover         { background-position: 2px -1098px; }
.icon-outdial, .image-outdial { background-position: 0   -1050px; }
.icon-outdial:hover           { background-position: 0   -1100px; }

.button-pageleft              { background-position: 2px -1648px; }
.button-pageleft:hover        { background-position: 2px -1698px; }
.icon-pageleft                { background-position: 0   -1650px; }
.icon-pageleft:hover          { background-position: 0   -1700px; }

.button-pageright             { background-position: 2px -1548px; }
.button-pageright:hover       { background-position: 2px -1598px; }
.icon-pageright               { background-position: 0   -1550px; }
.icon-pageright:hover         { background-position: 0   -1600px; }

.button-read                  { background-position: 2px -1248px; }
.button-read:hover            { background-position: 2px -1298px; }
.icon-read                    { background-position: 0   -1250px; }
.icon-read:hover              { background-position: 0   -1300px; }

.button-record                { background-position: 2px -248px; }
.button-record:hover          { background-position: 2px -298px; }
.icon-record                  { background-position: 0   -250px; }
.icon-record:hover            { background-position: 0   -300px; }

.button-save                  { background-position: 2px -48px; }
.button-save:hover            { background-position: 2px -98px; }
.icon-save                    { background-position: 0   -50px; }
.icon-save:hover              { background-position: 0   -100px; }

.button-schedule              { background-position: 2px -848px; }
.button-schedule:hover        { background-position: 2px -898px; }
.icon-schedule                { background-position: 0   -850px; }
.icon-schedule:hover          { background-position: 0   -900px; }

.button-stop                  { background-position: 2px -348px; }
.button-stop:hover            { background-position: 2px -398px; }
.icon-stop                    { background-position: 0   -350px; }
.icon-stop:hover              { background-position: 0   -400px; }

.button-unmute                { background-position: 2px -648px; }
.button-unmute:hover          { background-position: 2px -698px; }
.icon-unmute, .icon-unmute-disabled { background-position: 0 -650px; }
.icon-unmute:hover            { background-position: 0   -700px; }

.button-unread                  { background-position: 2px -1348px; }
.button-unread:hover            { background-position: 2px -1398px; }
.icon-unread                    { background-position: 0   -1350px; }
.icon-unread:hover              { background-position: 0   -1400px; }

.button-view                  { background-position: 2px -1148px; }
.button-view:hover            { background-position: 2px -1198px; }
.icon-view                    { background-position: 0   -1150px; }
.icon-view:hover              { background-position: 0   -1200px; }

/* dialogs, forms, tables */

.inline-dialog {
    background-color: #FFFFFF;
    border: 1px solid #1C55A7;
    display: none;
    padding: 5px;
    position: absolute;
}

.inline-dialog div {
    padding: 3px 0;
}

.ui-widget-overlay {
    background: #5d5d5d;
    opacity: .5;
}

#scheduleConferenceForm table caption {
    font-style: italic;
}

#scheduleConferenceForm textarea {
    height: 4em;
    width: 100%;
}

.form-error-message, .form-success-message {
    color: #FFFFFF;
    display: none;
    text-align: center;
    width: 100%;
}

#attendant-application .form-error-message,
#attendant-application .form-success-message {
    margin-left: 210px;
    width: 50%;
}

.form-error-message {
    background-color: #CC0000;
}

.form-success-message {
    background-color: #00CC00;
}

#scheduleConferenceDate {
    width: 10em;
}

fieldset {
    border: 1px solid #DDDDDD;
    float: left;
    display: block;
    padding: 6px;
    margin: 3px;
}

fieldset legend {
    color: #444444;
    font-size: 125%;
    font-weight: bold;
    margin-bottom: 6px;
    margin-left: 10px;
    padding: 0 6px;
}

fieldset table, fieldset table td {
    border-width: 0;
}

fieldset table td {
    padding: 2px;
    text-align: left;
}

fieldset table td.buttons {
    background-color: #EEEEEE;
    text-align: center;
}

fieldset table .buttons button {
    margin-right: 6px;
}

label.required {
    font-weight: bold;
}

table.data-table {
    border: 1px solid #CCCCCC;
}

table.data-table td, table.data-table th {
    border: 1px solid #CCCCCC;
}

table.data-table tr.odd {
    background-color: #EEEEEE;
}

.pagination {
    color: #666666;
    float: right;
    margin: 4px;
}

.pagination span {
    font-weight: bold;
    padding: 2px 4px;
}

div.help {
    background: #FFFFD0 url('../images/sprite.png') 5px -45px no-repeat;
    border: 1px dashed #FFE850;
    color: #333333;
    font-size: 90%;
    margin: 10px;
    padding: 5px 3px 5px 28px;
    width: 40em;
}

input.disabled {
    background-color: #EEEEEE;
    color: #666666;
}

/* other */

#templates {
    display: none;
}

#notification {
    background-color: #66FF66;
    border-color: #33CC33;
    border-style: solid;
    border-width: 2px 0;
    display: none;
    height: 1.5em;
    padding-top: .25em;
    margin-top: 6px;
    text-align: center;
    width: 99%;
}

#communication-error {
    background-color: #FFFFFF;
    border: 2px solid #CC0000;
    color: #CC0000;
    display: none;
    padding: 10px;
}

div#pinglatency, div#latency {
    bottom: 2px;
    color: #CCCCCC;
    display: block;
    font-size: 10px;
    height: 12px;
    position: absolute;
    width: 32px;
}

div#pinglatency {
    left: 34px;
}

div#latency {
    left: 2px;
}

#voicemail-header .voicemail-cell-received a,
#voicemail-header .voicemail-cell-from a {
    float: left;
}

#voicemail-header .voicemail-cell-received span,
#voicemail-header .voicemail-cell-from span {
    display: block;
    float: left;
    height: 6px;
    margin-left: 5px;
    margin-top: 5px;
    width: 11px;
}

.sort-ascending {
    background: #DDDDDD url(../images/new/arrow_up_11x6.png) top left no-repeat;
}

.sort-descending {
    background: #DDDDDD url(../images/new/arrow_down_11x6.png) top left no-repeat;
}