/* clearfix solution, used to make containers of floating divs use the height of their child elements */
.cleaner {
    clear: both;
    font-size: 1px;
}

/* top-level elements */

body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    background-color: #FFFFFF;
}

a {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    border-width: 0;
    width: 100%;
}

table th {
    font-weight: bold;
}

table td, table th {
    padding: 3px;
}

/* layout */

#header {
    clear: both;
    float: left;
    height: 26px;
    margin-bottom: 15px;
    margin-top: 5px;
    width: 100%;
}

#header .logo {
    float: left;
    height: 100%;
    margin-left: 10px;
    text-align: left;
}

#header .info {
    float: right;
    height: 100%;
    margin-right: 10px;
    text-align: right;
}

.column-mask {
    position: relative;
    clear: both;
    float: left;
    width: 100%;
    overflow: hidden;
}

.two-column {
    float: left;
    width: 200%;
    position: relative;
    left: 12em;
}

.content-column-wrapper {
    float: right;
    width: 50%;
    position: relative;
    right: 12em;
}

.content-column {
    margin: 0 0 0 12em;
    position: relative;
    right: 100%;
    overflow: hidden;
}

.menu-column {
    float: left;
    width: 12em;
    position: relative;
    right: 12em;
}

#footer {
    clear: both;
    color: #AAAAAA;
    float: left;
    font-size: 85%;
    margin-top: 15px;
    text-align: center;
    width: 100%;
}

#footer a {
    color: #AAAAAA;
    text-decoration: underline;
}

#footer a:hover, #footer a:active {
    color: #666666;
}

/* menus */

.menu {
    margin: 1em;
}

.menu ul li {
    border: 1px solid #24629B;
    background-color: #84B4E2;
    color: #24629B;
    cursor: pointer;
    display: block;
    font-weight: bold;
    margin-bottom: .25em;
    padding: .25em;
}

.menu ul li:hover, .menu ul li.current, .menu ul li.current:hover {
    background-color: #FFFFFF;
/*    color: #000000;*/
    cursor: default;
/*    font-weight: bold;*/
}

.menu ul li:hover {
    cursor: pointer;
}

/* application area */

.application {
    border: 2px solid #84B4E2;
    border-radius: 4px;
    display: none;
    margin: 0;
    -moz-border-radius: 4px;
    padding: 0;
    -webkit-border-radius: 4px;
    width: 99%;
}

.application-header {
    background: #24629B url('../images/new/header_gradient_blue_30x10.png') repeat-x bottom left;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: #FFFFFF;
    font-weight: bold;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    overflow: auto;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
}

.application-header .title {
    float: left;
    padding: 6px;
}

.application-content .left {
    float: left;
}

.application-content .right {
    float: right;
}

.application-content .left {
    width: 55%;
}

.application-content .right {
    width: 45%;
}

.panel {
    border: 1px solid #AAAAAA;
    clear: both;
    float: left;
    margin-top: 4px;
    width: 98%;
}

.panel-header {
    background-color: #DDDDDD;
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 0 0 1px 0;
    color: #666666; 
    font-weight: bold;
    height: 1.5em;
    padding: 2px;
}

.panel-title {
    margin-left: 2px;
}

.panel table {
    width: 100%;
}

.left .panel {
    margin-left: 3px;
}

/* application - conferencing */
/*
#conferencing-application {
    border-color: #DAE4EE;
}

#conferencing-application .application-header {
    background-color: #DAE4EE;
    color: #1C55A7;
}
*/
#conference-caller-table td {
    background-color: #E8EEF4;
    border-color: #FFFFFF;/*#1C55A7;*/
    border-style: solid;
    border-width: 0 0 1px 0;
    height: 2em;
    font-weight: bold;
}

td.caller-cell-dropIcon, td.caller-cell-muteIcon, td.pin-cell-removeIcon {
    width: 26px;
}

#conference-pin-table button {
    display: none;
}

#record-button-div {
    display: none;
}

.control-panel-button {
    float: left;
    margin: 3px 0 3px 3px;
}

#outdial-show {
    display: none;
}

.conference-info-value {
    font-weight: bold;
    text-align: right;
}

.conference-not-started {
    color: #CC0000;
}

.conference-started {
    color: #00CC00;
}

/* application - voicemail */

#voicemail-application {
    border-color: #FFE472;
}

#voicemail-application .application-header {
    background: #E8BB2B url('../images/new/header_gradient_orange_30x10.png') repeat-x bottom left;
    color: #000000;
}

#menu-voicemail {
    background-color: #FFE472;
    border-color: #E8BB2B;
    color: #E8BB2B;
}

#menu-voicemail.current, #menu-voicemail:hover {
    background-color: #FFFFFF;
}

#voicemail-table td {
    border-color: #FFE472;
    border-style: solid;
    border-width: 0 0 1px 0;
    height: 2em;
}

tr.voicemail-unread {
    background-color: #FFFFFF;
    color: #000000;
    font-weight: bold;
}

tr.voicemail-read {
    background-color: #FFFFBB;
    color: #AAAAAA;
    font-weight: normal;
}

td.voicemail-cell-readStatus {
    width: 26px;
}

/* application - system configuration */

/* application - users */

#users-application fieldset {
    border-width: 0;
}

/* buttons */

.add-button, .cancel-button, .delete-button, .mark-read-button, .mark-unread-button, .mute-button, .outdial-button, .record-button, .save-button, .schedule-button, .stop-button, .unmute-button, .unmute-button-disabled, .view-button {
    background-color: #EEEEEE;
    background-position: 2px 2px;
    background-repeat: no-repeat;
    border: 1px solid #1C55A7;
    border-radius: 4px;
    color: #1C55A7;
    cursor: pointer;
    height: 22px;
    font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size: 13px;
    /*font-weight: bold;*/
    -moz-border-radius: 4px;
    padding: 1px 1px 1px 21px;
    -webkit-border-radius: 4px;
}

.delete-button, .mark-read-button, .mark-unread-button, .mute-button, .unmute-button, .unmute-button-disabled { /* hack for IE to render buttons without text correctly */
    width: 24px;
}

.add-button:hover, .cancel-button:hover, .delete-button:hover, .mark-read-button, .mark-unread-button, .mute-button:hover, .outdial-button:hover, .record-button:hover, .save-button:hover, .schedule-button:hover, .stop-button:hover, .unmute-button:hover, .view-button:hover {
    background-color: #FFFFFF;
}

.add-button {
    background-image: url('../images/new/icon_add_16x16.png');
}

.add-button:hover {
    background-image: url('../images/new/icon_add_hover_16x16.png');
}

.cancel-button {
    background-image: url('../images/new/icon_cancel_16x16.png');
}

.cancel-button:hover {
    background-image: url('../images/new/icon_cancel_hover_16x16.png');
}

.delete-button {
    background-image: url('../images/new/icon_delete_16x16.png');
}

.delete-button:hover {
    background-image: url('../images/new/icon_delete_hover_16x16.png');
}

.mark-read-button {
    background-image: url('../images/new/icon_speaker_unmuted_16x16.png');
}

.mark-unread-button {
    background-image: url('../images/new/icon_speaker_muted_16x16.png');
}

.mute-button {
    background-image: url('../images/new/icon_speaker_unmuted_16x16.png');
}

.mute-button:hover {
    background-image: url('../images/new/icon_speaker_unmuted_hover_16x16.png');
}

.outdial-button {
    background-image: url('../images/new/icon_outdial_16x16.png');
}

.outdial-button:hover {
    background-image: url('../images/new/icon_outdial_hover_16x16.png');
}

.record-button {
    background-image: url('../images/new/icon_record_16x16.png');
}

.record-button:hover {
    background-image: url('../images/new/icon_record_hover_16x16.png');
}

.save-button {
    background-image: url('../images/new/icon_save_16x16.png');
}

.save-button:hover {
    background-image: url('../images/new/icon_save_hover_16x16.png');
}

.schedule-button {
    background-image: url('../images/new/icon_schedule_16x16.png');
}

.schedule-button:hover {
    background-image: url('../images/new/icon_schedule_hover_16x16.png');
}

.stop-button {
    background-image: url('../images/new/icon_stop_16x16.png');
}

.stop-button:hover {
    background-image: url('../images/new/icon_stop_hover_16x16.png');
}

.unmute-button {
    background-image: url('../images/new/icon_speaker_muted_16x16.png');
}

.unmute-button:hover {
    background-image: url('../images/new/icon_speaker_muted_hover_16x16.png');
}

.unmute-button-disabled {
    background-image: url('../images/new/icon_speaker_muted_disabled_16x16.png');
}

.view-button {
    background-image: url('../images/new/icon_view_16x16.png');
}

.view-button:hover {
    background-image: url('../images/new/icon_view_hover_16x16.png');
}

/* dialogs, forms, tables */

.inline-dialog {
    background-color: #FFFFFF;
    border: 1px solid #1C55A7;
    display: none;
    padding: 5px;
    position: absolute;
}

.inline-dialog div {
    padding: 3px 0;
}

.dialog {
    display: none;
}

.ui-widget-overlay {
    background: #5d5d5d;
    opacity: .5;
}

.dialog table {
    width: 100%;
}

.dialog table caption {
    font-style: italic;
}

.dialog table th {
    width: 33%;
}

.dialog table td, .dialog table th {
    padding: 10px 3px;
    text-align: left;
}

.dialog table td.buttons {
    text-align: center;
}

.dialog table td textarea {
    width: 100%;
}

.form-error-message {
    background-color: #CC0000;
    color: #FFFFFF;
    display: none;
    padding: .25em;
    text-align: center;
    width: 100%;
}

#scheduleConferenceDate {
    width: 10em;
}

fieldset {
    border: 1px solid #DDDDDD;
    display: inline-block;
    padding: 6px;
    margin: 3px;
    width: 75%;
}

fieldset legend {
    color: #444444;
    font-size: 125%;
    font-weight: bold;
    margin-bottom: 6px;
    margin-left: 10px;
    padding: 0 6px;
}

fieldset table, fieldset table td {
    border-width: 0;
}

fieldset table td {
    padding: 2px;
    text-align: left;
}

fieldset table .buttons button {
    margin-right: 6px;
}

table.data-table {
    border: 1px solid #CCCCCC;
}

table.data-table td, table.data-table th {
    border: 1px solid #CCCCCC;
}

table.data-table tr.odd {
    background-color: #EEEEEE;
}

/* other */

#templates {
    display: none;
}

#notification {
    background-color: #66FF66;
    border-color: #33CC33;
    border-style: solid;
    border-width: 2px 0;
    display: none;
    height: 1.5em;
    padding-top: .25em;
    margin-top: 6px;
    text-align: center;
    width: 99%;
}