li#menu-pbx a {
    background-color: #333333;
    color: #FFFFFF;
}

fieldset {
    border: 2px solid #CCC;
    display: block;
    margin-bottom: 5px;
    padding: 5px;
}

label.restricted-subscriber {
    display: block;
    margin-left: 95px; /* rather arbitrary, but makes it at least sort of line up with the destination number */
}

input {
    font-weight: bold;
    width: 200px;
}

button {
    font-weight: normal;
    width: auto;
}

label {
    margin: 5px 5px 5px 0;
}

label input,
label select,
label.restricted-subscriber button {
    margin-left: 5px;
}

select.target {
    width: 200px;
}

.more-subscribers {
    display: none; /* initially hidden */
}

.delete-restriction {
    display: block;
    float: right;
}

#template {
    display: none;
}

.deny-everyone,
.deny-subscribers {
    background-color: #F5DDDA;
    border-color: #FC6442;
}

.deny-everyone-except {
    background-color: #F7E6C8;
    border-color: #E0981B;
}