#sendEmailOptions,
#sendSmsOptions,
#sendEmailTimeRestrictions {
    display: none;
}

#phoneNumbersForm > fieldset {
    border: 1px solid #CCCCCC;
    margin-bottom: 10px;
}

.tab-content-default,
.tab-content {
    background-color: #F6F6F6;
}

#phoneNumbersTab {
    background-color: #FFFFFF;
}

fieldset.period-selector {
    display: block;
    margin-bottom: 5px;
}

fieldset.period-selector button {
    display: inline;
    vertical-align: top;
}

#addEmailTimeRestriction {
    clear: both;
    display: block;
    float: left;
    width: 150px;
}

#addEmailTimeRestriction,
#addSmsTimeRestriction {
    margin-left: 20px;
}

fieldset.time-restrictions {
    margin-bottom: 10px;
}