#!/bin/bash
# iiInstall version: 4.x
#########################################################
# Packages contained in the rpm.
PACKAGES=( voice mediator gui )

voice_RPMS=" voice "
mediator_RPMS=" mediator "
gui_RPMS=" gui "
