<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Nimblevox Api testing" verbose="2">

    <parameter name="baseURI" value ="http://listenmt-newnet.newnet.local"></parameter>
    <parameter name="basePath" value ="/listen-controller/api"></parameter>
    <parameter name="apiKey" value ="ca311dc868c24e3da647f05828aaf8fb"></parameter>
    
   <test name = "ApiTest" preserve-order="true">
  		<classes>
  	  	     <class name="com.newnet.test.ACDAgent"></class> 
  	 	     <class name="com.newnet.test.ActiveACDCall"></class> 
  	    </classes>
      </test>
</suite>