html, body {
    height: 100%;
}

body {
    background: #fff url('images/background-gradient.png') no-repeat top left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ccc;
    padding: 2px 6px;
}

#header {
    position: absolute;
    left: 0;
    top: 0;
    height: 30px;
    width: 100%;
    background-color: #fff;
    border-bottom: 2px solid #1162ae;
}

#header #logo {
    text-align: left;
    float: left;
}

#header #logout {
    float: right;
}

.no-title .ui-dialog-titlebar {
    display: none;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.ui-widget-overlay {
    background: #1162ae;
    opacity: .6;
}

.ui-dialog-titlebar {
    color: #1162ae;
}

#logoutButton {
    display: none;
}

a.button {
    display: block;
    cursor: pointer;
}

.notice-success {
    background: #0F0;
    color: #000;
    font-weight: bold;
    font-size: 12px;
}

.notice-error {
    background: #F00;
    color: #000;
    font-weight: bold;
    font-size: 12px;
}

.dialogSection .title {
    width: 100%;
    background-color: #ccc;
    text-align: left;
}

#conferenceParticipantTable thead, #conferenceHistoryTable thead {
    display: none;
}

.conferenceParticipantTableNumber {
    text-align: left;
}

.conferenceParticipantTableMute {
    width: 40px;
}

.conferenceParticipantTableDrop {
    width: 40px;
    background: #fff url('images/user-denied.png') no-repeat center center;
}