html, body {
    height: 100%;
}

body {
    background: #dae4ee;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ccc;
    padding: 2px 6px;
}

#header { /*Soon to have rounded corners*/
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff url('images/title_header_bkg.png') repeat-x top left;
    border-bottom: 2px solid #989898;
}

#header #logo {
    text-align: left;
    float: left;
	padding-left:10px;
	
}

#header #logout {
    float: right;
	background: #000000 url('images/title_3color_swatches.png') no-repeat top left;
	padding-left: 85px;
	color:#FFFFFF;
	width: 175px;
	height: 26px;
}

.no-title .ui-dialog-titlebar {
    display: none;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.ui-widget-overlay {
    background: #1162ae;
    opacity: .3;
}

.ui-dialog-titlebar {
    color: #1162ae;
}

#logoutButton {
    display: none;
	color:#FFFFFF;
	background: #000000;
}

a.button {
    display: block;
    cursor: pointer;
}

.notice-success {
    background: #0F0;
    color: #000;
    font-weight: bold;
    font-size: 12px;
}

.notice-error {
    background: #F00;
    color: #000;
    font-weight: bold;
    font-size: 12px;
}

.dialogSection .title {
	height: 44px;
    width: 100%;
	background:#CCCCCC url('images/dialogSection_title_bkg.png') repeat-x top left;
	color:#000000;
    text-align: left;
	padding: 30px;
	font-size:1.1em;
}

#conferenceParticipantTable thead, #conferenceHistoryTable thead {
    display: none;
}

.conferenceParticipantTableNumber {
    text-align: left;
}

.conferenceParticipantTableMute {
    width: 40px;
}

.conferenceParticipantTableDrop {
    width: 40px;
    background: #fff url('images/user-denied.png') no-repeat center center;
}

 .conferenceHistoryTableDateCreated, .conferenceHistoryTableUser, .conferenceHistoryTableDescription {
    text-align: left;
 }