/* GLOBAL */

body, table {
  font-size: .9em;
  font-family: Helvetica, Verdana, Arial, sans-serif;
}

div#body {
  display: table;
  margin: .5em;
  width: 600px;
}

h1, h2 {
  font-weight: bold;
  background-color: #165b9a;
  color: #fff;
  padding-left: .5em;

  border: 2px solid #6699cc;
  -moz-border-radius: .25em;
  border-radius: .25em;
}

h1 {
  font-size: 175%;
  margin-bottom: .5em;
  font-variant: small-caps;
}

h2 {
  font-size: 125%;
  margin-bottom: .25em;
/*  background-color: #6699cc;*/
  background-color: #fff;
  color: #165b9a;
}

a {
  color: #444;
  text-decoration: underline;
}

a:hover {
  cursor: hand;
  color: #000066;
}

/* FORMS */

input, select, textarea {
  border: 2px solid #ccc;
  background-color: #fff;
  font-weight: normal;

  -moz-border-radius: .25em;
  border-radius: .25em;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
  border-color: #ffaa00;
}

input.button, input.submit {
  font-weight: bold;
  -moz-border-radius: 0;
  border-radius: 0;
}

input.button {
  border-color: #ccc #999 #999 #ccc;  
  color: #444;
}

input.submit {
  border-color: #999 #555 #555 #999;
  color: #151515;
}

input.button:hover, input.submit:hover {
  background-color: #000066;
  color: #fff;
  cursor: hand;
}

input.button:active {
  border-color: #999 #ccc #ccc #999;
}

input.submit:active {
  border-color: #555 #999 #999 #555;
}

fieldset {
  display: block;
  border: 0 solid #FFFFFF;
  border-top: 3px solid #1162ae;
  background-color: #fff;
  clear: both;
  margin-top: 1em;
  padding-top: 1em;
}

fieldset.radio {
  border: 0 solid #fff;
  margin-top: 1em;
}

fieldset.buttons {
  border-color: #ccc;
  border-bottom-width: 3px;
  padding: .5em 2em;
  margin-bottom: 1em;
}

fieldset.buttons input {
  margin: 0 .5em 0 0;
  left: 0;
  top: 0;
  float: right;
}

fieldset.radio input {
  position: static;
  clear: both;
  float: left;
  margin-right: 1em;
}

fieldset.radio label {
  position: relative;
  top: -1.25em;
  display: inline;
  width: auto;
  margin: 0 0 0 9em; /* left margin matches other 10s */
  font-weight: bold;
  font-weight: normal;
}

fieldset.radio legend {
  float: left;
  font-weight: bold;
  color: #000;
  margin-left: -.6em;
  border-width: 0;
}

legend {
  font-weight: bold;
  margin-left: 1em;
  padding: .05em .25em;
  color: #1162ae;
/*
  border: 3px solid #6699cc;
  -moz-border-radius: .25em;
  border-radius: .25em;*/
}

fieldset input, select {
  position: relative;
  top: -1.4em;
  left: 9em; /* matches other 10s */
  display: block;
}

fieldset div label {
  position: relative;
  display: inline;
  width: auto;
  margin: 0;
}

fieldset div input {
  position: static;
  clear: both;
  float: left;
  margin-right: 1em;
}

fieldset div {
  float: left;
  margin: 1em 2em;
}

fieldset div.errors {
  margin-top: 0;
  color: #c00;
  font-style: italic;
  font-size: 85%;
}

label {
  clear: both;
  float: left;
  display: block;
  font-weight: bold;
  width: 9em; /* matches other 10s */
}

label.first {
  margin-top: .9em;
}

/* TABLE */

table {
  width: 100%;
  clear: left;
  border-collapse: collapse;
}

caption {
  font-size: 80%;
  padding-right: .5em;
  text-align: right; 
}

td:hover {
  background-color: #eee;
}

td, th {
  border: 1px solid #eee;
  padding: .1em .2em;
  background-color: #fff;
}

th {
  text-align: left;
  font-weight: bold;
  background-color: #1162ae;
  color: #fff;
  white-space: nowrap;
  padding: .2em .4em;
}

.even {
  background-color: #eee;
}

.odd {
  background-color: #fff;
}
