/* floating footer */

#wrapper {
    min-height: 100%;
    height: 100%;
}

#wrapper-main {
    overflow: auto;
    padding-bottom: 26px;
}

#footer {
    font-size: 60%;
    height: 26px;
    margin-top: -26px;
    text-align: center;
}

/* general layout & styles */

#header {
    background: #FFFFFF url('images/new/title_header_bkg.png') repeat-x top left;
    border-bottom: 2px solid #989898;
    height: 26px;
    width: 100%;
}

#subheader {
    height: 26px;
    text-align: right;
    width: 100%;
}

#logo {
    float: left;
    height: 100%;
    padding-left: 10px;
    text-align: left;
}

#userInfo {
    background: #000000 url('images/new/title_color_swatches_64x26.png') no-repeat top left;
    color: #FFFFFF;
    float: right;
    height: 100%;
    padding-left: 5em;
    padding-right: 1em;
    text-align: right;
    width: 20em;
}

#userInfo a {
    color: #FFFFFF;
    font-weight: bold;
}

#main {
    width: 100%;
}

.add-button, .cancel-button, .delete-button, .mute-button, .outdial-button, .schedule-button, .unmute-button, .unmute-button-disabled, .view-button {
    background-color: #EEEEEE;
    background-position: 2px 2px;
    background-repeat: no-repeat;
    border: 1px solid #1162AE;
    border-radius: 4px;
    color: #1162AE;
    cursor: pointer;
    height: 22px;
    font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size: 13px;
    font-weight: bold;
    -moz-border-radius: 4px;
    padding: 1px 1px 1px 21px;
    -webkit-border-radius: 4px;
}

.delete-button, .mute-button, .unmute-button, .unmute-button-disabled {
    width: 24px;
}

.add-button:hover, .cancel-button:hover, .delete-button:hover, .mute-button:hover, .outdial-button:hover, .schedule-button:hover, .unmute-button:hover, .view-button:hover {
    background-color: #FFFFFF;
}

.add-button {
    background-image: url('images/new/icon_add_16x16.png');
}

.add-button:hover {
    background-image: url('images/new/icon_add_hover_16x16.png');
}

.cancel-button {
    background-image: url('images/new/icon_cancel_16x16.png');
}

.cancel-button:hover {
    background-image: url('images/new/icon_cancel_hover_16x16.png');
}

.delete-button {
    background-image: url('images/new/icon_delete_16x16.png');
}

.delete-button:hover {
    background-image: url('images/new/icon_delete_hover_16x16.png');
}

.mute-button {
    background-image: url('images/new/icon_speaker_unmuted_16x16.png');
}

.mute-button:hover {
    background-image: url('images/new/icon_speaker_unmuted_hover_16x16.png');
}

.outdial-button {
    background-image: url('images/new/icon_outdial_16x16.png');
}

.outdial-button:hover {
    background-image: url('images/new/icon_outdial_hover_16x16.png');
}

.schedule-button {
    background-image: url('images/new/icon_schedule_16x16.png');
}

.schedule-button:hover {
    background-image: url('images/new/icon_schedule_hover_16x16.png');
}

.unmute-button {
    background-image: url('images/new/icon_speaker_muted_16x16.png');
}

.unmute-button:hover {
    background-image: url('images/new/icon_speaker_muted_hover_16x16.png');
}

.unmute-button-disabled {
    background-image: url('images/new/icon_speaker_muted_disabled_16x16.png');
}

.view-button {
    background-image: url('images/new/icon_view_16x16.png');
}

.view-button:hover {
    background-image: url('images/new/icon_view_hover_16x16.png');
}

#notification {
    background-color: #66FF66;
    border-color: #33CC33;
    border-style: solid;
    border-width: 2px 0;
    display: none;
    height: 1.5em;
    padding-top: .25em;
    text-align: center;
    width: 100%;
}

/* conference window */

.window {
/*    border: 1px solid #DAE4EE;
    border-radius: 8px;*/
/*    height: 100%;*/
    margin: 10px;
/*    -moz-border-radius: 8px;*/
    overflow: hide;
    padding: 3px 3px 0 3px;
}

#conference-list .panel {
    border-color: #666666;
}

#conference-list .panel-header {
    background-color: #000000;
/*    border-color: #666666;*/
    color: #FFFFFF;
}
/*
#conference-list .panel-title {
    cursor: pointer;
}*/

#conference-list .panel-content {
    display: block;
/*    height: 15em;
    overflow: auto;*/
}

#conference-list table {
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
}

#conference-list table th {
    font-weight: bold;
}

#conference-list table td, #conference-list table th {
    border: 1px solid #CCCCCC;
    padding: 3px;
}

#conference-window {
    display: none;
}

#conference-window .left, #conference-window .right {
    float: left;
    width: 50%;
}

.conference-header {
    background-color: #EEEEEE;
    border: 2px solid #1162AE;
    border-radius: 8px;
    color: #1162AE;
    margin-bottom: 4px;
    -moz-border-radius: 8px;
    overflow: auto;
}

.conference-title {
    clear: right;
    background-position: 3px 3px;
    background-repeat: no-repeat;
    font-size: 125%;
    font-variant: small-caps;
    font-weight: bold;
    padding-left: 23px;
}

.panel-content, .panel-title, .panel-menu {
    padding: 6px;
}

.conference-menu {
    border-color: #DAE4EE;
    border-style: solid;
    border-width: 1px 0 0 0;
    clear: left;
}

.conference-menu div {
    float: left;
    margin: 3px 0 3px 6px;
}

.conference-menu div.buttons {
    float: right;
    padding-right: 6px;
}

li.odd {
    background-color: #EEEEEE;
}

.left .panel {
    margin-right: 2px;
}

.right .panel {
    margin-left: 2px;
}

.panel {
    border: 2px solid #1162AE;
    border-radius: 8px;
    font-size: 90%;
    margin-bottom: 4px;
    -moz-border-radius: 8px;
}

.panel-header {
    background-color: #DAE4EE;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #1162AE;
    font-weight: bold;
    margin-bottom: 2px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    overflow: auto;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}

.panel-title {
    float: left;
}

.panel-menu {
    float: right;
    font-size: 75%;
    text-align: right;
}

.panel-content {
    overflow: auto;
}

#templates {
    display: none;
}

/* conference caller list */

.caller-row {
    /*background: #FFFFFF url('images/new/caller_background.png') repeat-x bottom left;*/
    background-color: #DAE4EE;
    border-radius: .5em;
    color: #000000;
    display: block;
    height: 2em;
    margin-bottom: 5px;
    -moz-border-radius: .5em;
    width: 100%;
}

.caller-row-admin {
    background-color: #81A8EA;
    color: #FFFFFF;
}

.caller-row-passive {
    background: inherit;
    background-color: #CCCCCC;
}

.caller-user-icon, .caller-mute-icon, .caller-drop-icon {
    height: 2em;
    text-align: center;
    width: 2em;
}

.caller-user-icon {
    float: left;
}

.caller-row-admin .caller-user-icon {
    background-image: url('images/new/icon_admin_logo_16x16.png');
    background-position: center center;
    background-repeat: no-repeat;
}

.caller-number {
    float: left;
    font-size: 1.15em;
    font-weight: bold;
    padding-left: .5em;
    padding-top: .35em;
}

.caller-mute-icon, .caller-drop-icon {
    margin-right: 1em;
}

.caller-mute-icon {
    float: right;
}

.caller-drop-icon {
    float: right;
}

.caller-mute-icon button, .caller-drop-icon button {
    margin-top: .25em;
}

/* conference history list */

.history-row {
    background-color: #FFFFFF;
    display: block;
    height: 1.5em;
    margin-bottom: 1px;
    width: 100%;
}

/* conference pin list */

.pin-row {
    background-color: #DAE4EE;
    border-radius: .5em;
    color: #000000;
    display: block;
    height: 2em;
    margin-bottom: 5px;
    -moz-border-radius: .5em;
    width: 100%;
}

.pin-row-admin {
    background-color: #81A8EA;
    color: #FFFFFF;
}

.pin-row-passive {
    background: inherit;
    background-color: #CCCCCC;
}

.pin-number, .pin-type {
    float: left;
    font-weight: bold;
    padding: .35em 2em 0 .5em;
}

.pin-remove {
    float: right;
    margin-right: 1em;
}

.pin-remove button {
    margin-top: .25em;
}

/* dialogs & forms */

.inline-dialog {
    background-color: #FFFFFF;
    border: 2px solid #1162AE;
    display: none;
    padding: 5px;
    position: absolute;
}

.inline-dialog div {
    padding: 3px 0;
}

.dialog {
    display: none;
}

.ui-widget-overlay {
    background: #5d5d5d;
    opacity: .5;
}

.dialog table {
    width: 100%;
}

.dialog table caption {
    font-style: italic;
}

.dialog table th {
    width: 33%;
}

.dialog table td, .dialog table th {
    padding: 10px 3px;
    text-align: left;
}

.dialog table td.buttons {
    text-align: center;
}

.dialog table td textarea {
    width: 100%;
}

.form-error-message {
    background-color: #CC0000;
    color: #FFFFFF;
    display: none;
    padding: .25em;
    text-align: center;
    width: 100%;
}

#scheduleConferenceDate {
    width: 10em;
}